<p>
  <strong>Stake:</strong>
  <%= @room.stake %>
</p>
<p>
  <strong>Number of players:</strong>
  <%= @room.num_of_players %>
</p>

<p>
  <strong>Number of Winners:</strong>
  <%= @room.num_of_winners %>
</p>

<p>
  <strong>Date:</strong>
  <%= @room.updated_at %>
</p>

<p>
  <strong>Players in the room:</strong>
  <%= @users.size %>
</p>

<p>
  <strong>Winners:</strong>
  <%= @winners %>
</p>
<p>
  <strong>Status:</strong>
  <%= @room.status %>
</p>
  <strong> Players: </strong>
<% @users.each do |user| %>
    <%= user.user_id %>
    <%= user.first_name %>
    <%= user.last_name %>
    <%= user.username %>
<% end %>
</p>
